<h2><strong>Heey, {{username}} sua jornada no Poetize começa aqui.</strong></h2>
<p>Você está prestes a se tornar um grande poetizador.</p>
<p>Para liberar acesso a algumas das nossas funções, confirme seu e-mail.</p>
<p>Basta clicar no botão abaixo...</p>
<button>Verificar</button>
<br>