<div style="max-width: 100%; width: 40%; border: 1px solid; display: block; margin-left: auto; margin-right: auto;">
    <div style="padding: 20px; background-color: #f7f7f7">
        <ul style="margin-top: 20px; list-style-type: none; text-align: center">
            <p>Olá <strong> ${req.body.name} </strong> agradescemos pelo seu contato, fique por dentrode todas as novidade do nosso app.</p>
            <p>Estamos com suas informações para contato</p>
            <li>nome: <strong> ${req.body.name} </strong></li>
            <li>E-mail: <strong> ${req.body.email} </strong></li>
            <p style="margin-top: 20px">Mandaremos emails com atualizações, acompanhe nossas redes sociais</p>
        </ul>
    </div>
</div>